.list-group {
  background: none;

  .list-group-item {
    font-size: 0.9375rem;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    margin: 0;
    border-radius: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;

    &:last-child {
      border-bottom: $list-group-border-width solid $list-group-border-color;
    }
  }
}
