h1 {
  font-size: 3rem;
  line-height: 3.8rem;
  letter-spacing: -0.1rem;
  font-weight: 400;
  color: $charcoal;
}

h2 {
  font-size: 2.8rem;
  line-height: 4.2rem;
  letter-spacing: -0.1rem;
  font-weight: 200;
  color: $charcoal;
}

h3 {
  font-size: 2.6rem;
  line-height: 3rem;
  letter-spacing: -0.15rem;
  font-weight: 300;
  color: $charcoal;
}

h4 {
  font-size: 1.4rem;
  line-height: 2.6rem;
  letter-spacing: -0.05rem;
  font-weight: 400;
  color: $charcoal;
}

p, li {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

.copy {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 300;
  color: $charcoal;
}

a {
  &:link {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 300;
    color: $knowledge-navy;
  }
}

.small {
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 300;
  color: $charcoal;
}

.intro {
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: -0.1rem;
  font-weight: 200;
  color: $charcoal;
}

.hero-unit {
  h1 {
    color: $white;
    text-shadow: 1px 3px transparentize($black, .6);
    font-size: 4.5rem;
    font-weight: 600;
  }

  h2 {
    color: $white;
    text-shadow: 1px 3px transparentize($black, .6);
    font-size: 2.6rem;
    font-weight: 100;
  }
}

.jumbotron {
  h1, h2, h3, h4, h5, h6 {
    color: $white;
    margin: 0;
  }
  h4 {
    opacity: 0.6;
  }
}

ul {
  padding-left: 1rem;
  line-height: 3rem;
  &.no-list-style {
    list-style-type: none;
  }
  li {
    margin-bottom: 1rem;
  }
}
