$knowledge-navy: #007bb0;
$brilliant-blue: #0094c7;
$teach-teal: #00bfb8;
$guided-green: #40b488;
$maker-magenta: #ef2c65;
$youth-yellow: #ffc958;
$charcoal: #4d4f53;
$orange: #F09C3C;
$white: #fff;
$black: #000;
