.color-box {
  background: darken($white, 5%);
  padding: 30px 15px;
  text-align: center;

  img {
    margin-bottom: 15px;
  }

  .btn {
    padding: 0.85rem 4rem 0.7rem 4rem;
    margin-top: 1rem;
    line-height: 2rem;
  }
}
