doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Mozilla Research: Studying the Global Web. Stories and insights from 600 people in 22 communities in 7 countries around the world.')
    link(rel='stylesheet', href='//code.cdn.mozilla.net/fonts/fira.css')
    link(rel='stylesheet', href='css/foxlight.css')
    title Foxlight – Demo
  body
    header
    .container
      .jumbotron
        h1.display-3 Foxlight
        p.lead Mozilla Foundation Bootstrap 4 theme
      
      h2.display-4 Color
      
      h2.display-4 Typography
      
    footer
