// This file is for Sass that applies only to the demo page

@import 'mofo-bootstrap';

.jumbotron {
  background: $charcoal;
  color: $white;
}

.color-blocks {
  display: flex;
  margin-bottom: 2rem;
}

.color-block {
  flex: 1;
  margin: 10px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  .swatch {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .darker {
    color: $white;
  }

  .regular {
    min-height: 100px;
    color: $white;
  }
}

.meta {
  > * {
    padding: 10px 0 0;
    margin: 0;
  }

  .value {
    color: lighten($charcoal, 20%);
  }
}

.text-block {
  margin: 2rem 0;
  text-align: left;

  h1 {
    font-size: 5rem;
    letter-spacing: -0.15rem;
  }

  h5 {
    font-size: 1.45rem;
    line-height: 1rem;
  }

  .meta {
    text-align: left;
  }
}

.button-demo {
  a {
    margin-bottom: 2rem;
  }
}

.hero-unit {
  padding: 1rem;
  margin: 2rem 0;
  width: 60vw;
  background: transparentize($black, 0.8);
}

.typography {
  text-align: left;

  > * {
    margin: 30px 0;
  }

  .meta {
    color: lighten($charcoal, 35%);
  }
}

.important-links {
  li {
    background: lighten($dino-red, 40%);

    a {
      color: darken($dino-red, 10%);

      &:hover {
        background: lighten($dino-red, 30%);
      }
    }
  }
}

.color-box {

  .btn {
    background: $dino-red;
    box-shadow: 0 2px 0 darken($dino-red, 10%);
    color: $white;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: darken($dino-red, 10%);
    }
  }
}

@mixin colorBlockChildren($color) {
  .darker {
    background: darken($color, 15%);
  }

  .regular {
    background: $color;
  }

  .opacity-30 {
    background: transparentize($color, .7);
  }

  .opacity-10 {
    background: transparentize($color, .9);
  }
}

.color-block-dino-red {
  @include colorBlockChildren($dino-red);
}

.color-block-firefox-orange {
  @include colorBlockChildren($firefox-orange);
}

.color-block-market-orange {
  @include colorBlockChildren($market-orange);
}

.color-block-flame-yellow {
  @include colorBlockChildren($flame-yellow);
}

.color-block-gecko-green {
  @include colorBlockChildren($gecko-green);
}

.color-block-summit-teal {
  @include colorBlockChildren($summit-teal);
}

.color-block-mobile-blue {
  @include colorBlockChildren($mobile-blue);
}

.color-block-developer-blue {
  @include colorBlockChildren($developer-blue);
}

.color-block-nightly-blue {
  @include colorBlockChildren($nightly-blue);
}

.color-block-aurora-purple {
  @include colorBlockChildren($aurora-purple);
}

.color-block-bikeshed-magenta {
  @include colorBlockChildren($bikeshed-magenta);
}

.color-block-charcoal {
  @include colorBlockChildren($charcoal);
}

@mixin textBlock($weight) {
  .text-block-#{$weight} {
    h1,
    h5 {
      font-weight: $weight;
    }
  }
}

@include textBlock(600);
@include textBlock(500);
@include textBlock(400);
@include textBlock(300);
@include textBlock(200);
@include textBlock(100);
